
.-footer {
  height: 56px;
  background-color: var(--surfaceColor);
  bottom: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  width: 100%;
  max-width: 480px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

.-footer[data-action="show"] {
  height: 180px;
}

.-footer .-nav {
  height: 56px;
  width: 100%;
}

.-footer .-nav-els {

}

.-hamburger,
.-search {
  width: 40px;
  height: 40px;
  transform: translateY(-50%) scale(1);
  top: 50%;
  padding: 8px;
  z-index: 3;
}

.-hamburger {
  background-size: contain;
  background-position: center center;
  cursor: pointer;
  background-color: var(--surfaceColor);
  width: 56px;
  height: 56px;
  right: 0px;
}

[data-action="search"] .-hamburger {
  transform: translateY(-50%) scale(0);
}

[data-action="show"] .-hamburger {
  transform: translateY(-50%) scale(1);
}

.-hamburger::before,
[data-action="search"] .-hamburger::before,
.-hamburger::after,
[data-action="search"] .-hamburger::after {
  content: '';
  width: 18px;
  height: 2px;
  background-color: var(--onSurfaceColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(0deg);
}
.-hamburger::after,
[data-action="search"] .-hamburger::after {
  width: 18px;
  height: 12px;
  border: 2px solid var(--onSurfaceColor);
  border-right: unset;
  border-left: unset;
  background-color: unset;
}

[data-action="show"] .-hamburger::after {
  height: 2px;
  border: 0px solid transparent;
  transform: translate(-50%,-50%) rotate(45deg);
  background-color: black;
}

[data-action="show"] .-hamburger::before {
  transform: translate(-50%,-50%) rotate(135deg);
}

.-logo {
  left: 56px;
  width: 104px;
  height: 40px;
  padding: unset;
  font-family: 'Luckiest Guy', cursive;
  color: var(--onSurfaceColor);
}


.-nav {

}
.-nav-list {
  height: 200px;
  overflow: auto;
}
.-nav-list .-nav-item {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.-nav-list .-nav-item:nth-child(odd) {
  background-color: var(--bgColor);
}

.-search-input-loader .-loader {
}

/* preloader */
#preloader {
  height: 30px;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  left: 5px;
}

#preloader.-loading {
  opacity: 1;
}

#preloader .-txt {
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  font-weight: 600;
}

#preloader::before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 100%;
  width: 100%;
  border: 1px solid var(--red);
  border-top: 1px solid transparent;
  border-radius: 100%;
}

#preloader.-loading::before {
  animation: rotation 1s linear infinite;
}
#preloader > .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: wink 1s ease-in-out infinite alternate;
  width: 60%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes wink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}