
.-freelinks {
  background-color: var(--surfaceColor);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
  margin: 8px 0;
  height: 71.25vw;
  max-height: 342px;
}
.-freelinks .-title {
  height: 32px;
  line-height: 32px;
  padding: 0px 8px;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: capitalize;
}
.-freelinks .-links {
  height: 61.25vw;
  max-height: 294px;
  padding: 4px 8px;
}
.-freelinks .-links .-link {
  width: 25%;
  cursor: pointer;
  height: 29.375vw;
  max-height: 141px;
  padding: 4px 0;
  overflow: hidden;
}

.-freelinks .-links .-link .-data {
  width: 100%;
  height: 100%;
  color: white;
  top: -100%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,0.6);
}

.-freelinks .-links .-link.-show .-data {
  top: 50%;
}
.-freelinks .-links .-link .-data .-posabs {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  width: 80%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.-freelinks .-links .-link[data-no="1"] .-data .-ctr,
.-freelinks .-links .-link[data-no="2"] .-data .-impressions,
.-freelinks .-links .-link[data-no="3"] .-data .-clicks,
.-freelinks .-links .-link[data-no="4"] .-data .-exitrate {
  transform: translate(-50%,-50%) scale(1);
}

.-freelinks .-links .-link .-data .-posabs .-num {
  font-size: 1.1em;
  font-weight: 700;
}

.-freelinks .-links .-link .-data .-posabs .-txt {
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: 600;
}
.-freelinks .-links .-link .-data .-exitrate {
  width: 100%;
}
.-freelinks .-links .-link .-img {
  width: 100%;
}
.-freelinks .-links .-link .-img img {
  width: 100%;
}
.-freelinks .-links .-link .-name {
  padding: 4px 8px;
  text-transform: capitalize;
  text-align: center;
  font-size: 0.8em;
  font-weight: 500;
  color: var(--onSurfaceDarkColor);
}