@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  vertical-align: middle;
}

:root {
  
  --bgColor: #f5f5f5;
  --surfaceColor: #fff;
  --onSurfaceColor: #121212;
  --onSurfaceDarkColor: #1f1f1f;
  --red: #fe0000;

  --textOrange: #ffba08;
  --darkOrange: #e26204;
  --yellow:  #f7fa53;
  --green: green;
  --mainColor50: #E3F2FD;
  --mainColor100: #BBDEFB;
  --mainColor200: #90CAF9;
  --mainColor300: #64B5F6;
  --mainColor400: #42A5F5;
  --mainColor500: #2196F3;
  --mainColor600: #1E88E5;
  --mainColor700: #1976D2;
  --mainColor800: #1565C0;
  --mainColor900: #0D47A1;
  --themeColor: #6699ff;
}

body {
  background-color: var(--bgColor);
}

.-container {
  width: 100%;
  height: 100vh;
  max-width: 480px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.9em;
  color: var(--onSurfaceColor);
}

.-hide {
  display: none !important;
}

.-container a {
  text-decoration: unset;
  color: var(--onSurfaceColor);
}

.-posrel {
  position: relative;
}

.-posabs {
  position: absolute;
}

.-posfix {
  position: fixed;
}

.-possti {
  position: sticky;
}

.-inlineblock {
  display: inline-block;
}

.-vamiddle {
  vertical-align: middle;
}

.-vatop {
  vertical-align: top;
}


.-main .-title {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--gray);
  padding: 8px;
}

.-homepage {
  padding: 10px;
  background-color: var(--textOrange);
  color: var(--onSurfaceColor);
  text-transform: uppercase;
  display: inline-block;
  margin: 5px 0;
  font-weight: 600;
}

#message {
  padding: 8px;
}

.-preloader {
  position: absolute;
  width: 6px;
  height: 6px;
  left: calc(50% - 3px);
  border-radius: 6px;
  background-color: var(--darkOrange);
  transform-origin: 50% 50%;
  opacity: 0;
  animation: cssload-loader 1.15s ease-in-out;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.-preloader.-loading {
  opacity: 1;
  animation: cssload-loader 1.15s ease-in-out infinite;
}

.-preloader::before,
.-preloader::after {
  content: '';
  position: absolute;
  background-color: var(--darkOrange);
  top: 0px;
  left: -12px;
  height: 6px;
  width: 6px;
  border-radius: 6px;
}

.-preloader::after {
  left: 12px;
}

@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/* lazy-loading */

img.lazy-image {
  opacity: 0.1;
  will-change: opacity;
  transition: all 0.3s;
}
img.lazy-image.loaded {
  opacity: 1;
}
