.-main:not(.-posrel) {
}
.-main {
  height: 100%;
  overflow: hidden;
  margin-top: 56px;
}
.-view {
  width: 100%;
  background-color: var(--bg-color);
  left: 200%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
}

.-view.active {
  left: 50%;
}