.-main:not(.-posrel) {
}
.-main {
  height: 145.625vw;
  max-height: 699px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.-view {
  width: 100%;
  background-color: var(--bg-color);
  left: 200%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
}

.-view.active {
  left: 50%;
}