
.-pane {
  width: calc(100% - 16px);
  height: 56.25vw;
  max-height: 270px;
  margin: 0px auto;
}
.-pane iframe,
.-pane .-exercise {
  width: 100%;
  max-width: 480px;
  border: unset;
  height: 100%;
}
.-pane .-exercise {
  
}