
.-recommendations {
  height: 76.25vw;
  max-height: 366px;
  background-color: var(--surfaceColor);
}
.-recommendations .-title {
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  font-size: 1.2em;
  font-weight: 600;
}
.-recommendations .-products {
  padding-top: 8px;
  white-space: nowrap;
  overflow: auto;
}
.-recommendations .-products .-product {
  width: 39.0625vw;
  max-width: 187.5px;
  height: 63.75vw;
  max-height: 306px;
  cursor: pointer;
  padding: 8px;
}
.-recommendations .-products .-product .-img {

}
.-recommendations .-products .-product .-img img {
  width: 100%;
}
.-recommendations .-products .-product .-name {
  font-weight: 600;
  white-space: nowrap;
  margin-top: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4;
}
.-recommendations .-products .-product .-price {
  margin-top: 8px;
  font-size: 1.2em;
  font-weight: 700;
}