<title>home</title>
<div class="-row -main">
  <div class="-sliders">
    <a href="#" data-filter="tbp" class="-slider -inlineblock -vamiddle -posrel" id="slider-template">
      <img src="./img/designs/ms-tbp-old-testament.jpg" alt="slider"/>
    </a>
    <!-- <a href="#" data-filter="tbp" class="-slider -inlineblock -vamiddle -posrel" id="slider-template">
      <img src="./img/designs/ms-tbp-new-testament.jpg" alt="slider"/>
    </a> -->
  </div>
        
  <div class="-banner -double">
    <a href="#" data-filter="tbp" class="-inlineblock -vamiddle -posrel">
      <img src="./img/designs/mfl-tbp.jpg" alt="doublebanner"/>
    </a><a href="#" data-filter="superbook" class="-double -inlineblock -vamiddle -posrel">
      <img src="./img/designs/mfl-superbook.jpg" alt="doublebanner"/>
    </a>
  </div>

  <a href="#" data-filter="awmi" class="-banner -single">
    <img src="./img/designs/fl-awmi.jpg" alt="doublebanner"/>
  </a>
  
  <div class="-banner -double">
    <a href="#" data-filter="aoc" class="-inlineblock -vamiddle -posrel">
      <img src="./img/designs/mfl-aoc-network.jpg" alt="doublebanner"/>
    </a><a href="#" data-filter="khm" class="-double -inlineblock -vamiddle -posrel">
      <img src="./img/designs/mfl-khm.jpg" alt="doublebanner"/>
    </a>
  </div>
        
  <a href="#" data-filter="bas" class="-banner -single">
    <img src="./img/designs/fl-bas.jpg" alt="doublebanner"/>
  </a>
  
  <div class="-banner -double">
    <a href="#" data-filter="max" class="-inlineblock -vamiddle -posrel">
      <img src="./img/designs/mfl-max-7.jpg" alt="doublebanner"/>
    </a><a href="#" data-filter="wfd" class="-double -inlineblock -vamiddle -posrel">
      <img src="./img/designs/mfl-wfd.jpg" alt="doublebanner"/>
    </a>
  </div>
  
  <a href="#" data-filter="pcc" class="-banner -single">
    <img src="./img/designs/fl-pcc.jpg" alt="doublebanner"/>
  </div>
</div>